!!!
%html
  %head
    %title eistv dashboard
    %link{ :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet" }
    %link{ :href => "css/style.css", :rel => "stylesheet" }
    %script{ :src => "javascript/twitter.js" }

  %body

    %script{ :src => "https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js" }
    %link{ :href => "https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css", :rel => "stylesheet" }

    %header
      .header-item#time
        %span#time-hour #{@time.strftime("%H")}
        %span#time-sep :
        %span#time-minute #{@time.strftime("%M")}
      .header-item#header-logo
        %img{ :src => "http://atilla.org/assets/img/logo.png" }


    #map.column.full

    #trains.column.full
      - @trains.each do |train|
        .train
          .train-time
            - if train.state
              = train.state
            - else
              = train.time.strftime("%H:%M")
          .train-terminus
            = train.terminus[0..22]
          .train-type
            - if train.type == "A"
              %img{ :src => "img/a.png" }
            - elsif train.type == "L"
              %img{ :src => "img/l.png" }

    #meteo.column.full
      %img{ :id => "meteo-icon", :src => "img/#{@weather.weather_icon}" }
      #meteo-temperature #{@weather.temperature}°
      #meteo-minmax
        %span#meteo-min
          min. #{@weather.min_temperature}°
        %span#meteo-max
          max. #{@weather.max_temperature}°

      #meteo-block
        #meteo-windspeed
          %img{ :id => "meteo-windicon", :src => "img/wind-icon.png" }
          #meteo-windtext
            #{@weather.wind_speed} m/s

        #meteo-sun
          .meteo-suntext
            Lever : #{@weather.sunrise.strftime("%Hh%M")}
          %br
          .meteo-suntext
            Coucher : #{@weather.sunset.strftime("%Hh%M")}

      #meteo-table
        %table
          %tr
            %td.bold Jour
            %td.bold +1
            %td.bold +2
            %td.bold +3
          %tr
            %td Matin
            - @weather.morning_forecast.each do |temp|
              %td #{temp}°
          %tr
            %td Après-midi
            - @weather.afternoon_forecast.each do |temp|
              %td #{temp}°

    #busses.column.full
      #description
        %h1 Prochains bus
        %h2 Ligne 45 - Arrêt Chemin Dupuis
      - @busses.busses.each do |destination|
        .timetable
          .name
            %h3 #{destination[:name].downcase.split.map(&:capitalize).join(' ')}
          .times
            - destination[:times].each do |time|
              .time
                - if time > 60
                  #{time/60}h#{time%60}m
                - elsif time > 1
                  #{time} mins
                - else
                  Imminent

    :javascript
      L.mapbox.accessToken = 'pk.eyJ1IjoiZmxhdnIiLCJhIjoiZWFkYmQ2YTEzZDRhNDg1MmM2ZDYwZjBiNzkxMzRlODIifQ.hVVth3HEgVYI4wyaWw9BQg';
      var map = L.mapbox.map('map', 'mapbox.streets', { zoomControl: false }).setView([49.0351207, 2.0740691], 15);

      L.marker([49.035048, 2.070], {
          icon: L.mapbox.marker.icon({
              'marker-size': 'large',
              'marker-symbol': 'building',
              'marker-color': '#73B1F9'
          })
      }).addTo(map);

      L.marker([49.036768, 2.0714], {
          icon: L.mapbox.marker.icon({
              'marker-size': 'large',
              'marker-symbol': 'bus',
              'marker-color': '#AF3535'
          })
      }).addTo(map);

      L.marker([49.036182, 2.080174], {
          icon: L.mapbox.marker.icon({
              'marker-size': 'large',
              'marker-symbol': 'rail',
              'marker-color': '#AF3535'
          })
      }).addTo(map);

      L.marker([49.0421646, 2.0712809], {
          icon: L.mapbox.marker.icon({
              'marker-size': 'large',
              'marker-symbol': 'fast-food',
              'marker-color': '#FFBA5E'
          })
      }).addTo(map);

      L.marker([49.03351, 2.073014], {
          icon: L.mapbox.marker.icon({
              'marker-size': 'large',
              'marker-symbol': 'restaurant',
              'marker-color': '#FFBA5E'
          })
      }).addTo(map);

      L.marker([49.0362825, 2.0761285], {
          icon: L.mapbox.marker.icon({
              'marker-size': 'large',
              'marker-symbol': 'library',
              'marker-color': '#008010'
          })
      }).addTo(map);
